.price {
  &__result {
    color: var(--c);
    font-weight: 600;
    font-size: 1.5em;
  }

  &__full {
    color: #ced2d6;
    font-weight: 600;
    text-decoration: line-through;
    font-size: 1.125em;
  }
}

.currency {
  display: flex;

  &__item {
    background: var(--c);
    opacity: 0.15;
    aspect-ratio: 1/1;

    &_active {
      opacity: 1;
    }

    button {
      color: #fff;
      font-size: 1.25em;
      cursor: pointer;
    }
  }
}
