.img {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
}

.stock_in {
  color: #1e4d3a;
}

.price {
  display: flex;
  column-gap: 16px;
  align-items: center;
  justify-content: space-between;

  &__price {
    display: flex;
    gap: 16px;
    align-items: baseline;
  }

  &__currency {
    gap: 8px;
    height: 2em;
  }
}

.action {
  display: flex;
  align-items: center;
  justify-content: center;
}
