.button {
  display: flex;
  align-items: center;
  color: var(--c);

  @media (hover: hover) {
    &:hover:not(:disabled) {
      opacity: 0.7;
    }
  }

  &__left svg {
    transform: rotateZ(180deg);
  }
}
