@use "mixins";

.card {
  display: grid;
  grid-template-columns: auto 32px 1fr;
  grid-template-areas:
    "img img img"
    "type type type"
    "title title title"
    "stock stock stock"
    "price price price"
    "cart . link";
  row-gap: 8px;

  &__img {
    grid-area: img;
    margin-bottom: 24px;
  }

  &__type {
    grid-area: type;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__title {
    grid-area: title;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    @include mixins.multiline-ellipsis(2);
  }

  &__stock {
    grid-area: stock;
    margin: 12px 0;
    font-size: 12px;
  }

  &__price {
    grid-area: price;
    font-size: 1rem;
  }

  &__cart {
    grid-area: cart;
    width: 176px;
  }

  &__link {
    grid-area: link;
    align-self: center;
    font-weight: 600;
    font-size: 14px;
    color: #596066;
  }

  &__link,
  &__cart {
    margin-top: 24px;
  }

  &__fav {
  }
}

.skeleton {
  display: grid;
  grid-template-columns: 50% 24px 1fr;
  grid-template-rows: auto 15px 64px auto 32px auto;
  grid-template-areas:
    "img img img"
    "type type type"
    "title title title"
    "stock stock stock"
    "price . currency"
    "cart link link";
  row-gap: 8px;
  column-gap: 8px;

  &__img {
    grid-area: img;
    width: 100%;
    aspect-ratio: 1/1;
    margin-bottom: 24px;
  }

  &__type {
    grid-area: type;
    width: 60%;
  }

  &__title {
    grid-area: title;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__line {
    height: 24px;

    &:first-child {
      width: 95%;
    }

    &:last-child {
      width: 70%;
    }
  }

  &__stock {
    grid-area: stock;
    height: 15px;
    width: 30%;
    margin: 12px 0;
  }

  &__price {
    grid-area: price;
  }

  &__currency {
    grid-area: currency;
  }

  &__cart {
    grid-area: cart;
  }

  &__link {
    grid-area: link;
  }

  &__link,
  &__cart {
    margin-top: 24px;
    height: 40px;
  }
}
