.hero {
  height: 770px;
  position: relative;

  &__slide {
    height: 100%;
    background-image: var(--bg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__dots {
    position: absolute;
    bottom: 40px;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
  }
}

.slide {
  height: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 1fr auto 1fr;
  grid-template-areas:
    "img title"
    "img sub"
    "img link";
  row-gap: 16px;

  &__img {
    grid-area: img;
    position: relative;
  }

  &__title {
    grid-area: title;
    align-self: end;
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -0.02em;
    color: #432600;
  }

  &__sub {
    grid-area: sub;
    font-weight: 500;
    line-height: 24px;
    color: #432600;
  }

  &__link {
    grid-area: link;
    margin-top: 24px;
    width: 224px;
  }
}

.dots {
  display: flex;
  gap: 24px;

  &__item {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--c);
    opacity: 0.3;
    cursor: pointer;

    &_active {
      opacity: 1;
    }
  }
}
