.categories {
  display: flex;
  justify-content: space-between;
  gap: 32px;

  &__list {
    flex-grow: 1;
    display: flex;
    gap: 32px;
  }

  &__item {
    display: inline-block;
    padding: 16px 24px;
    background: #fafafa;
    border: 1px solid var(--c);
    // box-shadow: 0px 2px 5px rgba(103, 110, 118, 0.08),
    //   0px 0px 0px 1px rgba(103, 110, 118, 0.24), 0px 1px 1px rgba(0, 0, 0, 0.12);
    border-radius: 100px;
    font-weight: 600;
    white-space: nowrap;
  }

  &__btns {
    display: flex;
    gap: 32px;
  }
}
